[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BGmisc"]
	path = BGmisc
	url = https://github.com/r-computing-lab/bgmisc
[submodule "discord"]
	path = discord
	url = https://github.com/r-computing-lab/discord
[submodule "ggpedigree"]
	path = ggpedigree
	url = https://github.com/r-computing-lab/ggpedigree
